<!-- IF S_ADUNITS_HEADER_POSITION == 2 or (S_ADUNITS_HEADER_POSITION == 1 and S_INDEX) or (S_ADUNITS_HEADER_POSITION == 3 and (S_VIEWFORUM or S_VIEWTOPIC)) -->
<div id="adunits-header">{ADUNITS_POST_TEXT_HEADER}</div>
<!-- ENDIF -->

<!-- IF S_ADUNITS_SIDEBAR_POSITION and (S_VIEWFORUM or S_VIEWTOPIC) -->
	<!-- IF S_ADUNITS_SIDEBAR_POSITION != 1 and S_ADUNITS_SIDEBAR_POSITION != 2 and (S_ADUNITS_SIDEBAR_POSITION == 3 or S_ADUNITS_SIDEBAR_POSITION == 5) -->
	<div id="cp-menu">
		<div id="sidebar-left" style="margin-right: 5px;">
		{ADUNITS_POST_TEXT_SIDEBAR_TOP}
		<!-- IF ADUNITS_POST_TEXT_SIDEBAR --><hr /><!-- ENDIF -->
		{ADUNITS_POST_TEXT_SIDEBAR}
		</div>
	</div>
	<!-- ENDIF -->
	<!-- IF S_ADUNITS_SIDEBAR_POSITION != 1 and S_ADUNITS_SIDEBAR_POSITION != 2 -->
		<div id="cp-main" class="panel-container">
	<!-- ENDIF -->
<!-- ENDIF -->
